/*****************************************************************************/
/*******************    Configurações gerais    ******************************/
/*****************************************************************************/

@font-face {
    src: url('../fonts/Oswald-Regular.ttf');
    font-family: 'Oswald';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

/*****************************************************************************/
/*******************    Cabeçalho    *****************************************/
/*****************************************************************************/

header {
    padding: 30px 2%;
    background-color: #23393d;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a.ativo {
    color: #f0c540;
}

/*****************************************************************************/
/*******************    Banner    ********************************************/
/*****************************************************************************/

section.banner {
    overflow: hidden;
    width: 100%;
    height: 650px;
    background-color: #e5e5e5;
    background-image: url('../images/banner.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner {
    padding: 80px;
}

.text-banner-single {
    width: 230px;;
    height: 60px;
    margin-top: 20px;
    padding: 12px 0 12px 30px;
    color: white;
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    position: relative;
    left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4) {
    width: 280px;
    height: 50px;
    padding: 10px 0 10px 30px;
    color: #2a4045;
    font-size: 18px;
    position: relative;
    left: -30px;
    background-image: url('../images/box-white-text.png');
}

/*****************************************************************************/
/*******************    Veículos Destaque    *********************************/
/*****************************************************************************/

section.veiculos-destaque {
    padding: 90px 2%;
}

section.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0 0;
    justify-content: center;
    align-items: center;
}

section.veiculos-destaque span.line-titulo {
    width: 100%;
    max-width: 500px;
    height: 2px;
    border: 2px solid #273f44;
}

section.veiculos-destaque .container > h2 {
    text-align: center;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    color: #273f44;
    padding: 0 20px;
    min-width: 300px;
}

.vitrine-destaque {
    width: 33.3%;
}

.vitrine-destaque .carro-img {
    width: 100%;
    border: 8px solid white;
    padding-top: 70%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.vitrine-destaque:nth-of-type(1) .carro-img {
    background-image: url('../images/carro1.png');
}

.vitrine-destaque:nth-of-type(2) .carro-img {
    background-image: url('../images/carro3.png');
}

.vitrine-destaque:nth-of-type(3) .carro-img {
    background-image: url('../images/carro2.png');
}

.vitrine-destaque .info-carro {
    padding-left: 8px;
}

.vitrine-destaque h2 {
    color: black;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p {
    color: #353535;
    font-size: 15px;
    padding-top: 8px;
    font-style: italic;
}

.vitrine-destaque a {
    margin-top: 10px;
    box-shadow: 2px 2px 2px #d6a921;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background-color: #f0c540;
    text-decoration: none;
    width: 150px;
    display: inline-block;
}

.vitrine-destaque a:hover {
    background-color: #353535;
    box-shadow: 2px 2px 2px #292929;
}

@media screen and (max-width: 1400px) {
    section.banner {
        background-size: 90% auto;
        background-position: 120% 100%;
    }
}

@media screen and (max-width: 1024px) {
    header nav ul li {
        padding: 0 15px;
    }

    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 720px) {
    header nav {
        width: 32px;
        height: 32px;
        background-image: url('../images/icon_menu.png');
        background-size: 100% 100%;
        cursor: pointer;
    }

    header nav ul {
        width: 100%;
        position: absolute;
        top: 95px;
        left: 0;
        text-align: center;
        background-color: #23393d;
        box-shadow: 0 -3px 5px rgba(0,0,0,.2);
        flex-direction: column;
        z-index: 2;
        display: none;
    }

    header nav ul li {
        padding: 20px 0;
    }

    section.veiculos-destaque .container:last-child {
        flex-direction: column;
        text-align: center;
    }

    .vitrine-destaque {
        width: 70%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 580px) {
    .text-banner {
        padding: 30px 0 30px 40px;
    }
    
    .text-banner-single {
        height: 50px;
        color: white;
        font-size: 18px;
    }

    section.veiculos-destaque .container > h2 {
        font-size: 23px;
        padding: 0 10px;
        min-width: 260px;
    }

    .vitrine-destaque {
        width: 90%;
    }
}